
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in melon_dict.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value[0] }}</td>
            <td>{{ value[1] }}</td>
            <td>{{ value[2] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{ grand_total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>



{% endblock %}

<!-- #cart needs Jinja to refer to the correct melon id -->